{% extends 'IdlabtestBundle:Default:restaurant.html.twig' %}
{% block logo %}<a href="#" id="logo"><img src="{{asset('bundles/idlabtestBundle/restaurant/images/')}}{{content.logo}}" alt="Foodilicious - Best Sushi Ever" data-retina="images/logo-retina.png"/></a>
{% endblock %}